* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #e3d2c6;
}

header {
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.navbar-left h1 {
  float: left;
  font-size: 1.5rem;
  color: #333;
}

.navbar h1 span {
  color: grey;
  font-weight: normal;
}

.navbar-right ul {
  float: right;
  text-align: right;
  display: flex;
  list-style: none;
}
.navbar-right ul li {
  margin-left: 30px;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-right ul li a:hover {
  color: gray;
}
#intro {
  display: flex;
  height: 60vh;
  padding: 50px;
}

.left-panel {
  flex: 1;
  background-color: #e3d2c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  text-align: center;
  padding: 10px;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: black;
}

.profile-card img {
  width: 250px;
  height: 250px;
  border-radius: 5%;
}

.profile-card img {
  
  transition: filter 0.3s ease;
}

/* Apply blur effect on hover */
.profile-card:hover img {
  filter: blur(2px);
}

.profile-card h2 {
  margin: 10px 0 10px;
  font-size: 1.5rem;
  color: black;
}

.profile-card p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: grey;
}

.right-panel {
  flex: 2;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel h1 {
  color: black;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.right-panel h1 a{
  color: black;
}

.right-panel h1 a:hover{
  color: gray;
}

.right-panel p {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.bio  {
  font-size: 1rem;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

footer {
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  background-color: white;
}
